@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  margin: 0%;
  padding: 0%;
}
.navbar {
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
}
.navbar-light .navbar-item {
  font-size: 3rem;
  text-decoration: none;
  color: black;
  font-family: "Pacifico", cursive;
  transition: 0.5s;
}
.navbar-light .navbar-item:hover{
  color: orangered;
}

.navbar-nav .nav-item a {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 25px;
  text-decoration: none;
  color: black;
  opacity: 0.7;
  transition: 0.5s;
}
.navbar-nav .nav-item a:hover {
  opacity: 1;
}
.navbar-nav .nav-item::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  color: orangered;
  background: orangered;
  transition: width 0.3s;
  opacity: 1;
}
.navbar-nav .nav-item:hover::after {
  width: 100%;
}
.container {
  padding: 5px;
}
